# Предсказываем стоимость мед страховки

## Загужаем необходимые библиотеки

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## Загружаем данные

Собраны данные:
- age: возраст
- sex: пол
- bmi: индекс массы тела
- children: количество детей, охваченных медицинским страхованием / количество иждивенцев
- smoker: курение
- region: регион (northeast, southeast, southwest, northwest).
- charges: индивидуальные медицинские расходы (его и хотим предсказать)

In [ ]:
df = pd.read_csv("insurance.csv",sep=",")# Загрузка данных в датафрейм

In [ ]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Смотрим статистику, что нет пропусков и отсуствующих значений

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

## Преобразуем строковые данные

In [ ]:
# Заменам пола и курение на числа
df['sex']=df['sex'].map({'male':1, 'female':0})
df['smoker']=df['smoker'].map({'yes':1,'no':0})

In [ ]:
# Создание и обучение модели

In [ ]:
df.head()

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

In [ ]:
# Замена региона на набор отдельных колонок (is_southwest, is_southeast и тп)
df = pd.get_dummies(df, columns=['region'])
df.head()

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,16884.92400,0,0,0,1
1,18,1,33.770,1,0,1725.55230,0,0,1,0
2,28,1,33.000,3,0,4449.46200,0,0,1,0
3,33,1,22.705,0,0,21984.47061,0,1,0,0
4,32,1,28.880,0,0,3866.85520,0,1,0,0

## Формируем признаки и целевую переменную

In [ ]:
# Формирование признаков  целевой переменной.

In [ ]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest'],
      dtype='object')

In [ ]:
X = df [[ 'age',	'sex',	'bmi',	'children',	'smoker', 'region_northeast',	'region_northwest',	'region_southeast',	'region_southwest']]
y =df [ 'charges']

## Разделяем данные на выборку для обучения/проверки

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

## Создаем и обучаем модель линейной регресии

In [ ]:

lr = LinearRegression()
lr.fit(X_train, y_train)
lr.coef_

array([  259.14592221,   -57.65711037,   332.75473657,   511.16429173,
       24337.55251101,   734.36299722,   305.41184119,  -668.46532002,
        -371.30951839])

In [ ]:
# Визуальная оценка того что получилось и что предсказывает модель
pd.DataFrame([y_test.values, lr.predict(X_test)]).T

               0             1
0    20462.99766  14784.208089
1    24873.38490  35383.528237
2     5966.88740   5950.090436
3     4571.41305   5259.916350
4    14394.39815  14648.484205
..           ...           ...
263  16776.30405  28519.812602
264   5377.45780   8861.738796
265  16069.08475  16451.751476
266   9222.40260  11240.161931
267   2416.95500   5275.321984

[268 rows x 2 columns]

In [ ]:
#  Результат
lr.predict(X_test)

array([14784.20808882, 35383.5282371 ,  5950.09043629,  5259.91634961,
       14648.48420495, 39696.33207717, 11813.95650463, 12655.24596894,
        5733.56670686,  3324.9425058 ,  5824.87544032,  1487.53331241,
       15270.19678865,  9996.42655337,  9959.3876009 , 16217.5754588 ,
        9430.67097836,  9977.44439235,  5935.85713714, 15523.20770782,
        2142.53785933,  7639.21471501,  7739.66340661,  5631.37128574,
        4445.3147364 , 35057.8296338 ,  6100.57751618,  2844.93664973,
       13096.42355995,  4217.21095742, 10515.71852217, 14867.4664586 ,
       13683.89002169,   573.39611348, 35828.04499436, 12484.91559276,
       15401.66018084, 12313.1412939 ,  3246.57289349,  5752.84881647,
        7052.39425655,  3015.16081378,  5202.4969079 , 25695.51001761,
       12823.94133372,  2882.37870617,  8640.38501778, 36081.27538239,
       15156.21218698,  6760.29721619,  5433.88497631,  6559.36469089,
        2805.24206922,  7684.45213362, 37466.68162675, 38218.24312243,
        7136.8193661 , 12993.58483377, 27124.64285294,  6901.86215549,
       33288.50238191,  9874.48360418, 10188.14716234,  4567.48034185,
        9436.64938427, 37694.21584898,  6899.46591631, 10410.53116697,
       14084.44736896,  7401.85927383,  8309.62826606, 40958.67043376,
        1192.15313906,  7481.15621514,  1447.58033102, 27667.7112185 ,
        2294.79949352,  7199.15702033,  -271.96770183,  5175.48534609,
       12727.14113045,  9516.43915465, 28497.10635806, 13755.61214951,
       12496.85152414,  5762.49500198, 14622.8033596 ,   259.71560711,
       29084.17374904,  7321.25352584, 11154.72998644, 12597.35743917,
       26696.49504913,  6431.97780113,  4723.94475367,  6490.73019637,
       33115.56047893, 27979.72001534,  -818.457012  , 10415.1420782 ,
        4411.79168543,  3950.28172111, 28013.88547506, 29970.86429218,
       -1492.11856912,  5548.83121745,  5621.3727669 , 12463.47522066,
        4144.87131095,  2540.90232887, 34114.9661782 , 39508.9352348 ,
        3206.59729788, 11529.72941471,  6136.61098045, 27363.2672044 ,
        1688.87627327,  5395.30913819,  2091.40017399, 10451.85266047,
        9258.94678935, 12091.10148319, -1566.06636413,  3951.07853457,
        2742.74122861,  2552.02472676, 34594.53293396,  2649.7001603 ,
        8683.98668266, 39283.23585799,  9119.34392705, 13747.2394722 ,
       10645.92594263,  1096.79772281, -2004.70130264, 11126.78004499,
        1194.87592867, 10529.83538075, 13507.18646217, 10868.01340812,
       32895.23176505, 10587.48482787,  5195.91916205,  8567.40301307,
       14613.47864188, 11071.95737427,  9195.50392055, 32277.55195518,
       10851.54304752,  1564.66821559,  2737.24457166, 15297.20666969,
        5816.01448133,  2344.64386168,  9308.69970116,  6952.16790047,
       12986.78584979,  8558.11229777, 37530.97938416,  3682.43657118,
        6503.83334971,  8045.54763341, 14765.97823173,  7174.3041242 ,
       33109.60053037,  8480.49815221, 12469.21656472, 32627.94739018,
        7142.97282649, 14804.31274429, 36788.22394959, 13569.89888376,
       10201.39555405, 31427.388824  ,  -197.3360664 ,  8373.83333304,
       37705.43205824, 17097.71543858,  3412.72193109,  7603.10115315,
        1198.63800536,  9708.14475631, 10321.765086  ,  6322.15176881,
       11604.07125086, 13982.99510293, 24497.67768503, 29341.94957003,
       10309.78558354, 11371.72864992,  8999.34148422, 38486.30442183,
       15159.56891075,  1263.57959718,  9458.62490254, 11365.36220645,
       12758.47242816, 34138.53550688,  4828.87266952, 34934.72625801,
        3606.07803624,  4237.33143661,  -512.15586993,  3588.52938594,
        5607.25703281, 12743.88648153,  4570.30344962, 11141.00398513,
       33048.21511527,  7569.75313561, 16848.92971003,  4854.12271655,
        9824.24014423,  4497.7553614 ,  3227.67091251,  4865.17828706,
       11616.20342425, 12898.39964595,  3142.63262716, 12199.00992035,
       10708.8519391 ,  8177.72161335,  9575.76396488, 16944.1939275 ,
       32407.42340124,  5465.76372588, -1097.36967696, 27827.97193408,
       16395.01316708,  7846.66240748, 34757.89664793, 37643.84718176,
        4904.8273287 ,  4514.10442593, 26585.59666927, 30959.71255829,
       31898.17046051,  8633.06369668, 11408.90663948, 12307.27247612,
        4253.81397844,  6236.4608884 , 12778.52154095,  7825.15510682,
       37807.82205911,  8664.00725551, 11860.78464139, 10058.98377996,
        2140.93718202, 12880.32955484,  8545.73911529, 13103.37605816,
        9452.84866558,  2033.66319671,  1575.3632297 , 11896.62290465,
       28528.9692839 , 30214.43690526,  8355.60150816, 13052.99324797,
       33676.63691321,  5132.42753502, 15047.80689005, 28519.81260219,
        8861.73879565, 16451.7514761 , 11240.16193077,  5275.32198384])

In [ ]:
# Оценка качества метода mean_squared_error для тестовой выборки
mean_squared_error(y_test, lr.predict(X_test))

38104059.95484449

In [ ]:
mean_squared_error(y_train, lr.predict(X_train))

36196396.10083649

## Получаем предсказание и оцениваем качество

## Делаем предсказание для одного человека

In [ ]:
# Заполнение данных по конкретному человеку
data = [{
    "age": 20,
    "sex": 1,
    "bmi": 30,
    "children": 2,
    "smoker": 1,
    "region_northeast": 0,
    "region_northwest": 0,
    "region_southeast": 1,
    "region_southwest": 0
}]

In [ ]:
df_person = pd.DataFrame(data)
df_person.head()

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
0,20,1,30,2,1,0,0,1,0

In [ ]:
lr.predict(df_person)

array([27319.12058818])